.content {
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.text {
    padding: 20px;
}
.prime-num {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 3px;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}